* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: arial, sans-serif;
  background: rgb(221, 217, 217);
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas:
    "header header header"
    "banner banner  off1"
    "banner banner off2"
    "sidemenu main main"
    "recent main main"
    "tags main main"
    "footer footer footer";
}

header {
  background: rgb(253, 251, 251);
  grid-area: header;
  margin-top: 0;
  position: sticky;
  top: 0;
  z-index: 1;
}
.headercontainer {
  display: flex;
  flex-direction: column;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
}
.headercontainer .logo {
  background-color: grey;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 50%;
  font-weight: bold;
  border: dotted;
}
header .header1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header1 input {
  border-radius: 50px;
  width: 40vw;
  border: none;
  padding: 0.7rem;
  background: rgba(226, 221, 221, 0.932);
}
header .header1 button {
  border: 1px solid;
  padding: 0.5rem;
  border-radius: 5px;
}
header .header1 i {
  position: relative;
  left: 1.5rem;
}
header .header2 {
  display: flex;
  align-items: center;
  gap: 1rem;
}
header .header2 .line {
  width: 1px;
  height: 2rem;
  background: black;
}
.banner {
  background: url("./assets/nik-korba-3WceTBlUoMs-unsplash.jpg") center;
  background-size: cover;
  width: auto;
  grid-area: banner;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.banner .mainbannercontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}
.banner .mainbannercontainer .motto {
  font-size: 300%;
  font-weight: bold;
  color: white;
}
.banner .mainbannercontainer .note {
  font-size: 150%;
  font-weight: bold;
  color: white;
}
.banner .mainbannercontainer input {
  padding: 1rem 1rem 1rem 2rem;
  border-radius: 5px;
  border-color: white;
  width: 100%;
}
.banner .photographer {
  position: absolute;
  bottom: 0;
  left: 1rem;
  color: white;
}
.banner .inputBox {
  position: relative;
}
.banner .inputBox i {
  position: absolute;
  top: 1rem;
  left: 0.8rem;
}
.off1 {
  grid-area: off1;
  padding: 1rem;
}
.off1 .off1container {
  display: flex;
  position: relative;
  background: white;
  padding: 1rem;
  gap: 0.5rem;
  /* border: solid 1px; */
}
.off1 .off1container input {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  padding: 0.5rem;
  background: red;
  border-radius: 10px;
  color: white;
}

.off1 img {
  width: 50%;
}

.off2 {
  grid-area: off2;
  padding: 1rem;
}
.off2 .offer2container img {
  width: 50%;
}
.off2 .offer2container {
  padding: 1rem;
  display: flex;
  gap: 0.5rem;
  position: relative;
  background: white;
  /* border: solid 1px; */
}
.off2 .offer2container input {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  border-radius: 10px;
  background: red;
  color: white;
}

.side-menu {
  background: blueviolet;
  grid-area: sidemenu;
}
.recent {
  background: tomato;
  grid-area: recent;
}
.tags {
  background: brown;
  grid-area: tags;
}
.main {
  background: navy;
  grid-area: main;
}
footer {
  background: black;
  color: white;
  grid-area: footer;
}

@media (max-width: 1024px) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "h1 h1 "
      "header header "
      "banner banner "
      "off1 off2"
      "sidemenu sidemenu"
      "main main"
      "tags recent"
      "footer footer";
  }
}
@media (max-width: 576px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      "h1 "
      "header "
      "banner "
      "off1 "
      "off2"
      "sidemenu"
      "recent"
      "tags"
      "main"
      "footer";
  }
  .off1 .off1container {
    transform: scale(0.8);
  }
  .off2 .offer2container {
    transform: scale(0.8);
  }
}
